In [42]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import LabelEncoder

In [89]:
#Se cargan los datos
df=pd.read_parquet('Datasets/data_ML.parquet')

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27442 entries, 0 to 27441
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   genres    27442 non-null  object
 1   app_name  27442 non-null  object
 2   tags      27442 non-null  object
 3   id        27442 non-null  int32
dtypes: int32(1), object(3)
memory usage: 750.5+ KB

In [99]:
from sklearn.model_selection import train_test_split

# Supongamos que tu DataFrame es df y quieres mantener la distribución de la columna 'items_count'
df, _ = train_test_split(df, test_size=0.7, stratify=df['genres'], random_state=42)

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4390 entries, 1251 to 15035
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   genres    4390 non-null   int32
 1   app_name  4390 non-null   object
 2   tags      4390 non-null   int32
 3   id        4390 non-null   int32
dtypes: int32(3), object(1)
memory usage: 120.0+ KB

In [91]:
le = LabelEncoder()
df['genres'] = le.fit_transform(df['genres'])
df['tags'] = le.fit_transform(df['tags'])

In [92]:
df

       genres                                           app_name  tags      id
2632        1                                         Far Cry® 4    74  298110
13291       1                                   Better Off Tread    41  656070
24776       1         Adventure Time: Finn And Jake'S Epic Quest     4  258590
4892       15  Train Simulator: Br Class 73 'Gatwick Express'...   105  258659
22782       5                       Please, Don’T Touch Anything    53  354240
...       ...                                                ...   ...     ...
24648       1               Breach & Clear - Frozen Synapse Pack   114  296990
5133        2                                    Paws Soundtrack     4  449950
15638       2                                Weapon Shop Fantasy   105  599460
22919       1                    Our Darker Purpose - Soundtrack     2  334390
20416       1                                           Zamarian     2  429120

[8232 rows x 4 columns]

In [93]:
#Vectorizar el nombre de los productos
vectorizer=TfidfVectorizer()
tfidf_matrix=vectorizer.fit_transform(df['app_name'])

In [94]:
# Calcular la cantidad de memoria en bytes
memory_in_bytes = (tfidf_matrix.data.nbytes + tfidf_matrix.indices.nbytes + tfidf_matrix.indptr.nbytes)

# Convertir a megabytes
memory_in_megabytes = memory_in_bytes / (1024 * 1024)

print(f"Memory: {memory_in_megabytes} MB")

Memory: 0.4171638488769531 MB

In [95]:
#Combinar características
features=np.column_stack([tfidf_matrix.toarray(),df['genres']])

In [96]:
#Calcular la matriz de similitud del coseno
similarity_matrix=cosine_similarity(features)

In [97]:

# Calcular la cantidad de memoria en bytes
memory_in_bytes = similarity_matrix.nbytes

# Convertir a megabytes
memory_in_megabytes = memory_in_bytes / (1024 * 1024)

print(f"Memory: {memory_in_megabytes} MB")

Memory: 517.01220703125 MB

In [98]:
producto_index=df[df['id']==10].index[0]
product_similarities=similarity_matrix[producto_index]
most_similar_products_index=np.argsort(-product_similarities)[1:6]
most_similar_products=df.loc[most_similar_products_index,'app_name']
most_similar_products

IndexError: index 0 is out of bounds for axis 0 with size 0

In [72]:
df

       genres                  app_name  tags      id
0           1       Lost Summoner Kitty   161  761140
1           9                 Ironbound    62  643980
2           5   Real Pool 3D - Poolians    62  670290
3           1                   弹炸人2222     5  767400
4           1     Battle Royale Trainer     5  772540
...       ...                       ...   ...     ...
27437       1              Kebab It Up!     5  745400
27438       5            Colony On Mars   161  773640
27439       5  Logistical: South Africa   161  733530
27440      10             Russian Roads    79  610660
27441       5       Exit 2 - Directions    79  658870

[27442 rows x 4 columns]